@import "tailwindcss";

@theme {
    --font-family-sans: "Nunito", sans-serif;
    --font-family-mono: "Geist Mono", monospace;
    --font-family-hand: "Patrick Hand", cursive;
    --font-family-gaegu: "Gaegu", cursive;
    --font-family-lacquer: "Lacquer", cursive;
    --font-family-indie: "Indie Flower", cursive;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.shiki {
  background: transparent !important;
  font-weight: 600;
}

.shiki span {
  font-weight: 600;
}

.shiki code {
  font-size: 14px;
  line-height: 1.8;
}