@import "tailwindcss";

@theme {
    --font-family-sans: "Nunito", sans-serif;
    --font-family-mono: "Geist Mono", monospace;
    --font-family-hand: "Patrick Hand", cursive;
    --font-family-gaegu: "Gaegu", cursive;
    --font-family-lacquer: "Lacquer", cursive;
    --font-family-indie: "Indie Flower", cursive;
}